h1 {
  font-size: 24px;
  color: #333;
}

#container {
  margin-top: 35px;
}

#container ul li {
  padding-top: 8px;
  position: relative;
}

.link {
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 14px;
  height: 13px;
  vertical-align: middle;
  padding-top: 2px;
  visibility: hidden;
  cursor: pointer;
}

.favicon {
  position: absolute;
  top: 9px;
  left: 25px;
  cursor: move;
}

.open_page, .restore_all, .delete_all {
  cursor: pointer;
  padding-right: 30px;
  display: inline-block;
  font-size: 11px
}

.created_on {
  font-size: 11px; font-weight: 400; color: rgb(136, 136, 136); padding-top: 6px; padding-bottom: 0px;
}