h1 {
  font-size: 24px;
  color: #333;
}

#container {
  margin-top: 35px;
  margin-left: 20px;
}

#container ul li {
  position: relative;
  list-style-type: none;
  line-height: 1.8;
}

#container ul img {
    vertical-align: middle;
    margin-right: 5px;
    max-width: 16px;
    max-height: 16px;
}

#container h1 {
  display: inline-block;
}

.link {
  text-decoration: none;
}

.open_page, .restore_all, .remove_group {
  cursor: pointer;
  padding-right: 30px;
  display: inline-block;
  font-size: 11px
}

.created_on {
  font-size: 11px; font-weight: 400; color: rgb(136, 136, 136); padding-top: 6px; padding-bottom: 0;
}

.info_block {
  display: inline-block; padding-left: 28px; vertical-align: middle;
}

.closeBtn {
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle;
    color: #666;
    font-size: 12px;
    
}
 .closeBtn:before{ content: "\274C\ "; }